<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
        <a routerLink="/login">Car Dealership</a>
    </div>
    <div class="nav-links">
        <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
        <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
        <a routerLink="/login">Car Dealership</a>
    </div>
    <div class="nav-links">
        <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Log out</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
        <a routerLink="/login">Car Dealership</a>
    </div>
    <div class="nav-links">
        <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Log out</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>